$primary: gray;
$accent: pink;
$text-color: aqua;
$text-size:(
  "big":50px,
  "medium": 30px,
  "small": 15px
);

$font-look: (
  "geologica": Geologica,
  "lato": Lato,
  "raleway": Raleway
);

$primary-color: #444444;

$mobile: 800px;

$mobile-width: 700px;